* {
    /* outline: 1px solid tomato; */
}

.header {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    color: #fff;
    background: rgba(0, 0, 0, 0.15);
    transition: 0.5s;
}

.header:hover {
    transition: 0.5s;
    color: #000000;
    background: #fff;
}

.header.on {
    color: #000000;
    background: #fff;
    border-bottom: 1px solid #ddd;
    transition: 0.5s;
}

.header .inner {
    position: relative;
    display: flex;
    align-items: center;
    height: 80px;
}

.header .inner .logo a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 80px;
    background: url(../images/logo_white.png)no-repeat left top/300px 80px;

    text-indent: -9999px;
}

.header:hover .inner .logo a {
    background: url(../images/logo.png)no-repeat left top/300px 80px;
}

.header.on .logo a {
    background: url(../images/logo.png)no-repeat left top/300px 80px;
}

.header .inner .gnb {
    margin: 0 auto 0 0;
}

.header .inner .gnb>ul {
    display: flex;
    gap: 80px;
    height: 80px;
}

.header .inner .gnb>ul>li {
    position: relative;
}

.header .inner .gnb>ul>li>a {
    display: block;
    position: relative;
    line-height: 80px;
}

.header .inner .gnb>ul>li .sub {
    position: absolute;
    top: 80px;
    left: 0;
    height: 0;
    z-index: 999;

    overflow: hidden;
    transition: height 0.5s;
}

.header .inner .gnb:hover>ul>li .sub {
    transition: height 0.5s;
    height: 200px;
}

.gnb>ul>li .sub li a {
    display: inline-block;
    position: relative;
    line-height: 40px;
    white-space: nowrap;
}

.gnb>ul>li .sub li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #ddd;
}

.header .inner .gnb::before {
    content: '';

    position: fixed;
    z-index: 900;

    top: 80px;
    left: 0;
    right: 0;
    height: 0;

    transition: height 0.5s;
    background: #fff;
}

.header .inner .gnb:hover::before {
    border-bottom: 1px solid #ddd;
    transition: height 0.5s;
    height: 200px;
}

.header .util>a>i {
    display: block;
    font-size: 24px;
    line-height: 80px;
}

.header .inner .mbtn {
    display: none;
}

@media(max-width:768px) {
    .header .inner .logo a {
        left: 60px;
    }

    .header .gnb {
        display: none;
    }

    .header .util {
        display: none;
    }
}













.main_visual {}

.main_visual .visual {
    position: relative;
}

.main_visual .visual .visual01 {
    position: relative;
    height: 100vh;
    background: url(../images/main_visual01.jpg) no-repeat center top/cover;
}

.main_visual .visual .visual01 .desc {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1290px;
    width: 100%;
    letter-spacing: 8px;
}

.main_visual .visual .visual01 .desc p {
    display: block;
    text-indent: -6px;
    font-size: 70px;
    font-weight: 100;
    color: #fff;
}

.main_visual .visual .visual01 .desc strong {
    display: block;
    text-indent: -5px;
    font-size: 120px;
    font-weight: 700;
    color: #fff;
}

.main_visual .scrolldown {
    position: absolute;
    bottom: 0;
    left: 50%;
    font-size: 0;
    transform: translate(-50%, -50%);
}

.main_visual .scrolldown::before {
    content: '';
    position: absolute;
    bottom: 24px;
    left: -15px;
    width: 32px;
    height: 32px;
    border-top: 2px solid #fff;
    transform: rotate(-135deg);
}

.main_visual .scrolldown::after {
    content: '';
    position: absolute;
    bottom: 24px;
    left: -16px;
    width: 32px;
    height: 32px;
    border-top: 2px solid #fff;
    transform: rotate(135deg);
}

@media(max-width:768px) {
    .main_visual .visual .visual01 {
        height: 800px;
        background: url(../images/main_visual-768px.jpg) no-repeat center top/cover;
    }

    .main_visual .visual .visual01 .desc {
        display: none;
    }

    .main_visual .visual .visual01 .desc strong {
        font-size: 10vw;
    }

    .main_visual .visual .visual01 .desc p {
        font-size: 10vw;
    }
}

@media(max-width:430px) {
    .main_visual .visual .visual01 {
        height: 700px;
        background: url(../images/main_visual-768px.jpg) no-repeat center top/cover;
    }
}









.main_content {}

.main_content .tit p {
    line-height: 24px;
}

.main_content .inner {
    display: flex;
    gap: 30px;
}

.main_content .inner>* {
    flex: 1;
}











.main_banner {
    background: #f9f9f9;
    position: relative;
}

.main_banner .tit p {
    line-height: 24px;
}

.main_banner .swiper .swiper-button-prev {
    left: 10px;
}

.main_banner .swiper .swiper-button-prev::after {
    padding: 8px;
    font-size: 36px;
    color: #fff;
    background: #92929286
}

.main_banner .swiper .swiper-button-next {
    right: 10px;
}

.main_banner .swiper .swiper-button-next::after {
    padding: 8px;
    font-size: 36px;
    color: #fff;
    background: #92929286
}

.main_banner .swiper-pagination {
    position: absolute;
    bottom: 80px;
}

.main_banner .swiper-pagination .swiper-pagination-bullet-active {
    background: #929292;
}

@media(max-width:768px) {
    .main_banner .swiper-pagination {
        bottom: 24px;
    }
}











.main_product {
    position: relative;
}

.main_product .inner {
    display: flex;
    gap: 30px;
}

.main_product .inner>* {
    flex: 1;
}

.main_product .inner .itm .img_box {
    margin: 0 0 16px 0;
    overflow: hidden;
}

.main_product .inner .itm .img_box img {
    transition: 0.5s;
}

.main_product .inner .itm .img_box img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.main_product .inner .itm strong {
    display: block;
    margin: 0 0 16px 0;
    font-size: 24px;
    font-weight: 600;
}

.main_product .inner .itm p {
    display: block;
    margin: 0 0 16px 0;

    font-size: 14px;
    font-weight: 400;
}

.main_product .inner .itm .ord {
    display: inline-block;
    padding: 8px 16px;
    border: 1px solid #ddd;
    font-size: 16px;
    transition: 0.5s;
}

.main_product .inner .itm .ord:hover {
    background: #ddd;
    transition: 0.5s;
}



@media(max-width:768px) {
    .main_product .product_slide .swiper-slide img {
        width: 718px;
    }

    .main_product .arrows {
        position: absolute;
        bottom: 116px;
        right: 56px;
        z-index: 999;
    }

    .main_product .arrows .prev {
        position: absolute;
        right: 64px;
        font-size: 0;
        border: none;
        background: transparent;
    }

    .main_product .arrows .prev::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 24px;
        height: 24px;
        border-top: 2px solid #92929286;
        border-left: 2px solid #92929286;
        transform: rotate(-45deg);
    }


    .main_product .arrows .next {
        position: absolute;
        right: 0;
        font-size: 0;
        border: none;
        background: transparent;
    }

    .main_product .arrows .next::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 24px;
        height: 24px;
        border-top: 2px solid #92929286;
        border-left: 2px solid #92929286;
        transform: rotate(135deg);
    }

}







.main_movie {
    background: #f9f9f9;
}

.main_movie .tit p {
    line-height: 24px;
}

.main_movie .inner .video_box {
    height: 600px;
}

.main_movie .inner .video_box .mb_YTPBar .mb_YTPseekbar {
    background: #fff;
}


@media(max-width:768px) {
    .main_movie .inner .video_box {
        height: 300px;
    }
}















.footer {
    background: #222;
}

.footer .ft {
    text-align: center;
    font-style: normal;
}

.footer .inner .ft {
    border-bottom: 1px solid #444;
}

.footer .inner .ft>ul {
    display: flex;
    gap: 40px;
    align-items: center;
    height: 100px;
}

.footer .inner .ft>ul li {
    position: relative;
    font-size: 16px;
    color: #999;
}

.footer .inner .ft>ul li~li::before {
    content: '';
    position: absolute;
    height: 10px;
    width: 1px;
    top: 50%;
    left: -16px;
    transform: translate(-50%, -50%);
    background: #ddd;
}

.footer .inner .ft .b {
    font-size: 16px;
    font-weight: 800;
    color: #f9f9f9;
}

.footer .inner .fb address {
    padding: 40px 0;
    line-height: 24px;
    font-style: normal;
    font-size: 14px;
    color: #999;
}








.to_top {
    position: fixed;
    z-index: 999;
    bottom: 180px;
    right: 100px;

    opacity: 0;
    visibility: hidden;

    transition: 0.1s;
}

.to_top.on {
    opacity: 1;
    visibility: visible;

    transition: 0.5s;
}

.to_top button {
    border: none;
    background: transparent;
}

.to_top button i {
    padding: 16px;
    transform: rotate(90deg);
    font-size: 24px;
    border-radius: 50%;
    color: #fff;
    background: #222;
}

@media(max-width:768px) {
    .to_top {
        bottom: 16px;
        right: 16px;
    }
}